.CropCard{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.CropCard.compact {
    flex-direction: column;
}
.image-crop-container {
    margin: 10px;
    img {
        width: 100px;
        height: 100px;
    }
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.crops-container {
    display: grid;
    gap: 16px;
}
.crops-1{
    grid-template-columns: 1fr;
}
.crops-2 {
    grid-template-columns: 1fr 1fr;
}
.crops-3,
.crops-4,
.crops-5 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}