  .PlotDashboard .sensor-grid-1{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  .PlotDashboard .sensor-grid-2{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .PlotDashboard .sensor-grid-3,
  .PlotDashboard .sensor-grid-4,
  .PlotDashboard .sensor-grid-5{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }